<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /core-php/

    # Remove .php extension
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME}\.php -f
    RewriteRule ^(.*)$ $1.php [L]

    # Redirect to index.php if accessing directory
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^(.+?)/$ $1/index.php [L]

    # Redirect everything to index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

</IfModule>
